<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- java的POJO类设置别名 -->
    <typeAliases>
        <!--        <typeAlias type="com.zad.pojo.?" alias="customer"/>-->
        <!-- 当POJO类过多时，可以通过自动扫描包的形式自定义别名 -->
        <package name="com.zad.crud.pojo"/>
    </typeAliases>

    <plugins>
        <!-- com.github.pagehelper为PageHelper类所在包名 -->
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <!-- 分页合理化 -->
            <property name="reasonable" value="true"/>
        </plugin>
    </plugins>

    <!-- 配置mapper的位置 -->
    <mappers>
        <!--        <mapper resource="com/zad/pojo/.xml"/>-->
    </mappers>
</configuration>
